'Hello, <%=name%>! How old are you?'
<form action="age" method="post">
	<input type="number" name="age_input">
	<input type="submit" name="Submit">
	<input type="text" name="name_input" value=<%=name%> hidden>
</form>