<html>
<head>

	<link rel='stylesheet' type='text/css' href='css/styles.css'>
	<title>Coin Changer</title>

</head>

<center>

<h1>Enter an amount of change to convert to coins.</h1><hr><br>

	<body>
			<div class='result'><%=message1%><%=results%></div><br>
			<form action='coins' method='POST'>
				<input type='text' name='change' required><br><br>
				<input type='submit' value='Submit'>
			</form><br>
			<a href='/change_input'>Try More Coins</a>
			<br><br>
			<img src='images/change.jpg'>

	</body>

</center>
</html>