So <%=name%>, you are <%=age%> years old.<br>
Now enter your three favorite numbers.<br>
<form action="/fav_num" method="post">
<input type="number" name="num1_input">
<input type="number" name="num2_input">
<input type="number" name="num3_input">
<input type="submit" name="Submit">
<input type="text" name="name" value=<%=name%> hidden>
<input type="number" name="age" value=<%=age%> hidden>

</form>