<link rel="stylesheet" type="text/css" href="css/styles.css">


<h3>Your word contained something other than letters. Please choose a new word.</h3>

<form action='pregame' method='post'>
	<input type='password' name='guess_word' required>
	<input type='submit' value="OK Ready!">
</form>