<link rel="stylesheet" type="text/css" href="css/styles.css">


<h1>Welcome to Hangman</h1>

<form action='/hm_players' method='post'>
	<input type='text' name='player1' value='Player 1'>
	<input type='text' name='player2' value='Player 2'>
	<input type='submit' value='Submit'>
</form>