<html>

<head>
	<link href="css/styles.css" rel=stylesheet>
</head>

<h1 id='head_text'>Personal Projects</h1>

<h2>
	<table id="table_format">
		<tr>
			<td class='columns'><a href='/'>Home</a></td>
			<td class='columns'><a href='/name'>Favorite Numbers</a></td>
			<td class='columns'><a href='/change_input'>Coin Changer</a></td>
			<td class='columns'><a href='/ISBN_input'>ISBN Validation</a></td>
			<td class='columns'><a href='/ttt_start'>Tic-Tac-Toe</a></td>
			<td class='columns'><a href='/hangman_start'>Hangman</a></td>
		</tr>
	</table>
</h2>

<%=yield%>


<footer class='center_text'>
	Created by <a href='https://www.github.com/dparks715'>Dan Parks</a><br>
	Info: <a href='https://www.minedminds.org'>Mined Minds</a>
</footer>

</html>