<html>
<head>
	<link href="css/styles.css" rel=stylesheet>
</head>
<h1 id='head_text'>Personal Details</h1>
<h2>
	<a href='/'>Favorite Numbers</a>
	<a href='/change_input'>Coin Changer</a>
</h2>
<%=yield%>


<footer class='center_text'>
	Created by <a href='https://www.github.com/dparks715'>Dan Parks</a><br>
	Info: <a href='https://www.minedminds.org'>Mined Minds</a>
</footer>
</html>