#head_text{
	text-align:center;
	color:white;
	background-color: black;
}

.center_text{
	text-align: center;
}

.result {
	font-size: large;
	font-weight: 600;
	text-shadow: 3px 3px 2px black;
}

#table_format {
  border-spacing: 50px 0;
}

.columns {
  padding: 10px 0;
  font-size: 24px;
}

#fav_table {
  border-spacing: 10px 0;
  font-size: 18px;
}